* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}

html {
  width: 100%;
}

body {
  width: 100%;
  padding: 1rem;
  background-color: #FFFAFA;
}

body header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0rem 1rem 0rem;
  padding: 1rem;
  font-size: 1.75rem;
  font-weight: 900;
  color: #2F6A87;
  border: 0.25rem solid #2F6A87;
}

body main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body main .training-item {
  width: 100%;
  margin: 0rem 0rem 1rem 0rem;
}

body main .training-item .header {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: #2F6A87;
  color: #FFFFFF;
}

body main .training-item .body {
  padding: 1rem;
}

body main .training-item .body .training-list .item {
  color: #2F6A87;
}

body main .training-item .body .training-list .item .title {
  font-size: 1.5rem;
  font-weight: 900;
}

body main .training-item .body .training-list .item .subtitle {
  font-size: 1.25rem;
}

body main .training-item .body .training-list .item .image {
  width: 100%;
}

body main .training-item .body .training-list .item .info {
  display: flex;
}

body main .training-item .body .training-list .item .info .value {
  margin: 0rem 0.25rem 0rem 0rem;
  font-size: 1.10rem;
  font-weight: 900;
}

body main .training-item .body .training-list .item .info .key {
  font-size: 1.10rem;
}